<launch>
	<!-- activate depth registration -->
    <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam" args="set /camera/driver depth_registration true" />
	<!-- add a time offset to resynchronize arm and hand -->
<!--    <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam2" args="set /camera/driver depth_time_offset -0.1" />
    <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam3" args="set /camera/driver image_time_offset -0.1" />
	-->
</launch>
