<launch>
	<include file="$(find sr_object_manipulation_launch)/machines/robot.machine"/>

	<node pkg="sr_kinematics" name="ff_kinematics" type="sr_kinematics">
		<param name="urdf_description" command="$(find xacro)/xacro.py '$(find sr_hand)/model/robots/xacro/arm_and_hand_motor.urdf.xacro'"/>
		<param name="root_name" type="string" value="palm"/>
		<param name="tip_name" type="string" value="ffdistal"/>
		<param name="maxIterations" type="int" value="1000"/>
		<param name="epsilon" type="double" value="0.001"/>
	</node>
	<node pkg="sr_kinematics" name="mf_kinematics" type="sr_kinematics">
		<param name="urdf_description" command="$(find xacro)/xacro.py '$(find sr_hand)/model/robots/xacro/arm_and_hand_motor.urdf.xacro'"/>
		<param name="root_name" type="string" value="palm"/>
		<param name="tip_name" type="string" value="mfdistal"/>
		<param name="maxIterations" type="int" value="1000"/>
		<param name="epsilon" type="double" value="0.001"/>
	</node>
	<node pkg="sr_kinematics" name="rf_kinematics" type="sr_kinematics">
		<param name="urdf_description" command="$(find xacro)/xacro.py '$(find sr_hand)/model/robots/xacro/arm_and_hand_motor.urdf.xacro'"/>
		<param name="root_name" type="string" value="palm"/>
		<param name="tip_name" type="string" value="rfdistal"/>
		<param name="maxIterations" type="int" value="1000"/>
		<param name="epsilon" type="double" value="0.001"/>
	</node>
	<node pkg="sr_kinematics" name="lf_kinematics" type="sr_kinematics">
		<param name="urdf_description" command="$(find xacro)/xacro.py '$(find sr_hand)/model/robots/xacro/arm_and_hand_motor.urdf.xacro'"/>
		<param name="root_name" type="string" value="palm"/>
		<param name="tip_name" type="string" value="lfdistal"/>
		<param name="maxIterations" type="int" value="1000"/>
		<param name="epsilon" type="double" value="0.001"/>
	</node>
<!--	<node pkg="arm_kinematics" name="th_kinematics" type="arm_kinematics">
		<param name="urdf_description" command="$(find xacro)/xacro.py '$(find sr_hand)/model/robots/xacro/arm_and_hand_motor.urdf.xacro'"/>
		<param name="root_name" type="string" value="palm"/>
		<param name="tip_name" type="string" value="thdistal"/>
		<param name="maxIterations" type="int" value="1000"/>
		<param name="epsilon" type="double" value="0.5"/>
	</node>
-->

<include file="$(find sr_hand)/launch/fingertip_static_transform.launch"/>

	<!-- merge the arm / hand joint_states topics to publish onto /joint_states -->
	<node pkg="sr_utilities" type="joint_states_merger.py" name="joint_states_merger"/>

	<!--
	    Trajectories / grasp execution
	-->
<!--	<node pkg="sr_move_arm" type="move_arm_simple_action" name="move_arm_simple_action"  machine="robot"/>  -->

        <node pkg="sr_mechanism_controllers" type="joint_trajectory_action_controller" name="sr_joint_trajectory_action_controller"/>

	<node pkg="sr_move_arm" type="hand_posture_execution" name="hand_posture_execution" machine="robot"/>

	<node name="reactive_grasp_node_right" pkg="sr_move_arm"
	      type="reactive_grasp_server.py" args="r" respawn="false" output="screen">
	  <param name="use_slip_controller" value="True"/>
	  <param name="use_slip_detection" value="True"/>
	  <param name="grasp_num_tries" value="4"/>

	  <rosparam file="$(find sr_move_arm)/config/tactile_thresholds.yaml" command="load"/>
	</node>

	<node pkg="sr_tactile_sensors" name="sr_tactile" type="sr_tactile_virtual_gazebo" respawn="false">
	  <rosparam file="$(find sr_tactile_sensors)/params/sensor_names.yaml" command="load"/>
	</node>
</launch>


