<launch>
  <group if="$(optenv SIMULATED 0)">
    <include file="$(find sr_worlds)/launch/can.launch"/>
  </group>

  <!-- specifies the machines on which the nodes will be run -->
  <include file="$(find sr_object_manipulation_launch)/machines/threedsensor.machine"/>
  <include file="$(find sr_object_manipulation_launch)/machines/dataprocessing.machine"/>
  <include file="$(find sr_object_manipulation_launch)/machines/household_database.machine"/>
  <include file="$(find sr_object_manipulation_launch)/machines/robot.machine"/>

  <!-- start the 3d acquisition and filter the robot from the point cloud-->
  <include file="$(find sr_object_manipulation_launch)/launch/filters.launch"/>

  <!-- <include file="$(find openni_launch)/launch/openni.launch"/>-->

  <!-- start attaching the platform to various required frames -->
  <group unless="$(optenv SIMULATED 0)">
    <include file="$(find sr_object_manipulation_launch)/launch/static_transform.launch"/>
  </group>

  <group unless="$(optenv SIMULATED 0)">
    <!-- Sets the position of the kinect in comparison to the robot when NOT simulated -->
    <include file="$(find sr_object_manipulation_launch)/launch/kinect_static_transform.launch"/>
    <include file="$(find sr_object_manipulation_launch)/launch/kinect_setup.launch"/>
  </group>

  <!-- start the object detection and recognition -->
  <include file="$(find sr_object_manipulation_launch)/launch/household_object.launch"/>
  <include file="$(find sr_object_manipulation_launch)/launch/tabletop_node.launch"/>

  <!-- start linking the hand and arm -->
   <!-- On real robot tactile prefix is / or /kcl -->
  <group unless="$(optenv SIMULATED 0)"> 
    <include file="$(find sr_object_manipulation_launch)/launch/arm_and_hand_motor.launch">
      <arg name="tactile_prefix" value="" /> 
    </include>
  </group>
  <group if="$(optenv SIMULATED 0)"> 
    <include file="$(find sr_object_manipulation_launch)/launch/arm_and_hand_motor.launch">
      <arg name="tactile_prefix" value="/sr_tactile" /> 
    </include>
  </group> 
  
  <!-- starts the arm navigation -->
    <!-- We expect a merger to merge the joint_states on /joint_states -->
    <include file="$(find shadow_arm_navigation)/launch/shadow_arm_navigation.launch" />


 
  <!-- build the collision map -->
  <include file="$(find sr_object_manipulation_launch)/launch/collision_map.launch"/>

  <!-- start the manipulator related nodes -->
  <include file="$(find sr_object_manipulation_launch)/launch/manipulator.launch"/>
</launch>
