<launch>
    <include file="$(find shadow_arm_navigation)/launch/shadow_planning_environment.launch" />
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="shadow_right_arm_kinematics">
        <param name="group" type="string" value="right_arm" />
        <param name="right_arm/root_name" type="string" value="desk_support" />
        <param name="right_arm/tip_name" type="string" value="palm" />
        <param name="kinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin" />
	<remap from="joint_states" to="$(arg merged_joint_states)"/>
    </node>
</launch>
