<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="shadow_move_right_arm">
        <param name="group" type="string" value="right_arm" />
        <remap from="arm_ik" to="shadow_right_arm_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="r_arm_controller/joint_trajectory_action" />
	<remap from="joint_states" to="/joint_states"/>
    </node>
</launch>
