<launch>
     <group if="$(optenv ELLIPSOID 0)">
          <param name="robot_description" command="$(find xacro)/xacro.py '$(find sr_description)/robots/arm_and_hand_motor_ellipsoid.urdf.xacro'" />
     </group>
        <group unless="$(optenv ELLIPSOID 0)">
          <param name="robot_description" command="$(find xacro)/xacro.py '$(find sr_description)/robots/arm_and_hand_motor.urdf.xacro'" />
     </group>

    <rosparam command="load" ns="robot_description_planning" file="$(find shadow_arm_navigation)/config/shadow_planning_description.yaml" />
</launch>
