<launch>
  <!-- send table urdf to param server -->
  <param name="table_description" command="$(find xacro)/xacro.py $(find gazebo_worlds)/objects/table.urdf.xacro" />
  <param name="coffee_cup" textfile="$(find gazebo_worlds)/objects/coffee_cup.model" />

   <!-- push table_description to factory and spawn robot in gazebo -->
  <node name="spawn_table" pkg="gazebo" type="spawn_model" args="-urdf -param table_description -z 0.01 -x -0.5 -y -0.75 -model table_model" respawn="false" output="screen" />

<node name="spawn_coffee_cup" pkg="gazebo" type="spawn_model" args="-gazebo -param coffee_cup -x 0.5 -y -0.85 -z 1.1  -R 3.1416 -P 0 -Y 3.1416 -model coffee_cup" respawn="false" output="screen" />
</launch>

