<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find sr_hand)/model/robots/xacro/arm_and_hand_motor_ellipsoid.urdf.xacro'" />
    <rosparam command="load" ns="robot_description_planning" file="$(find arm_and_hand_arm_navigation)/config/arm_and_hand_planning_description.yaml" />
</launch>
