<launch>
    <include file="$(find arm_and_hand_arm_navigation)/launch/arm_and_hand_planning_environment.launch" />
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="arm_and_hand_right_arm_kinematics">
        <param name="group" type="string" value="right_arm" />
        <param name="right_arm/root_name" type="string" value="desk_support" />
        <param name="right_arm/tip_name" type="string" value="palm" />
        <param name="kinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin" />
    </node>
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="arm_and_hand_right_first_finger_kinematics">
        <param name="group" type="string" value="right_first_finger" />
        <param name="right_first_finger/root_name" type="string" value="palm" />
        <param name="right_first_finger/tip_name" type="string" value="fftip" />
        <param name="kinematics_solver" type="string" value="hand_kinematics/HandKinematicsPlugin" />
    </node>
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="arm_and_hand_right_little_finger_kinematics">
        <param name="group" type="string" value="right_little_finger" />
        <param name="right_little_finger/root_name" type="string" value="palm" />
        <param name="right_little_finger/tip_name" type="string" value="lftip" />
        <param name="kinematics_solver" type="string" value="hand_kinematics/HandKinematicsPlugin" />
    </node>
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="arm_and_hand_right_middle_finger_kinematics">
        <param name="group" type="string" value="right_middle_finger" />
        <param name="right_middle_finger/root_name" type="string" value="palm" />
        <param name="right_middle_finger/tip_name" type="string" value="mftip" />
        <param name="kinematics_solver" type="string" value="hand_kinematics/HandKinematicsPlugin" />
    </node>
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="arm_and_hand_right_ring_finger_kinematics">
        <param name="group" type="string" value="right_ring_finger" />
        <param name="right_ring_finger/root_name" type="string" value="palm" />
        <param name="right_ring_finger/tip_name" type="string" value="rftip" />
        <param name="kinematics_solver" type="string" value="hand_kinematics/HandKinematicsPlugin" />
    </node>
    <node  pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="arm_and_hand_right_thumb_kinematics" output="screen">
        <param name="group" type="string" value="right_thumb" />
        <param name="right_thumb/root_name" type="string" value="palm" />
        <param name="right_thumb/tip_name" type="string" value="thtip" />
        <param name="kinematics_solver" type="string" value="hand_kinematics/HandKinematicsPlugin" />
    </node>
</launch>
