<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="arm_and_hand_move_right_middle_finger">
        <param name="group" type="string" value="right_middle_finger" />
        <remap from="arm_ik" to="arm_and_hand_right_middle_finger_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="right_middle_finger_controller/follow_joint_trajectory" />
    </node>
</launch>
